.header{
    background-color: rgb(30,30,38);
    width: 100%;
    height: 100px;
    display: flex;
}

.header-img {
    cursor: pointer;
}

.main-content {
    display: flex;
}

.header-search {
    height: 40px;
    width: 300px;
    margin: auto 0;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 4px;
}

.header-text{
    color: rgb(255, 255, 255);
    font-size: 34px;
    background-color: rgb(30,30,38);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto 0;
    cursor: pointer;
}

.sidebar{
    height: 100vh;
    max-width: 400px;
    background-color: rgb(30,30,38);
    display: flex;
    flex-flow: column;
}

body{
    margin: 0;
}

.sidebar-text {
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 40px; 
    background-color: rgb(30,30,38);
    border-style: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center start;
    margin-left: 5px;
    transition: .25s;
}

.sidebar-icon {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

.sidebar-item {
    display: flex;
    cursor: pointer;
    padding: 5px 25px;
    transition: .25s ease;
}

.sidebar-item:hover > .sidebar-text {
    color: rgb(255, 161, 161)
}

.content {
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    height: 700px;
    margin: 10px auto;
}

.film-grid {
    align-content: center;
    padding: 10px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-left: 30px;
}

.film-grid > a {
    display: flex;
    flex-flow: column;
    width: 250px;
    padding: 15px 20px 5px;
    border-radius: 5px;
    transition: .35s ease;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: black;
    text-decoration: none;
}

.film-grid > a:hover {
    box-shadow: 1px 1px 7px gray;
}

.popular-now{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.poster{
    width:250px;
    height: 350px;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
}

.title-grid-item{
    padding-top: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 16px;
    border-style: hidden;
    height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
}
